.tableWrapper {
  overflow-x: auto;
  padding: 20px;
}

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 12px;
  overflow: hidden;
}

.table th,
.table td {
  padding: 12px 15px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  text-align: left;
  border-left: none;
  border-right: none;
}

.table thead th {
  position: sticky;
  top: 0;
  background-color: #f4f4f4;
  z-index: 1;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: #f4f4f4;
}

.table td {
  background-color: #fff;
}

.table th:first-child {
  border-top-left-radius: 12px;
}
.table th:last-child {
  border-top-right-radius: 12px;
}


.table tr:last-child td:first-child {
  border-bottom-left-radius: 12px;
}
.table tr:last-child td:last-child {
  border-bottom-right-radius: 12px;
}

.table thead {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.table tbody {
  display: block;
  max-height: 400px;
  overflow-y: auto;
  width: 100%;
  table-layout: fixed;
}

tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}


.pagination button.active {
  background-color: #007bff;
  color: white;
}

.pagination button:hover {
  background-color: #ddd;
}
