.tableWrapper {
  overflow-x: auto;
  padding: 20px;
}

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 12px;
  overflow: hidden;
}

.tableRow {
  transition: background-color 0.3s ease;
  position: relative;
}

.tableRow:hover {
  cursor: pointer;
}

.deleteButton {
  display: none;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: #fed7d7;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 12px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.tableRow:hover .deleteButton {
  display: inline-block;
}

.table th,
.table td {
  padding: 12px 15px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  text-align: left;
  border-left: none;
  border-right: none;
}

.table thead th {
  position: sticky;
  top: 0;
  background-color: #f4f4f4;
  z-index: 1;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: #f4f4f4;
}

.table td {
  background-color: #fff;
}

.table th:first-child {
  border-top-left-radius: 12px;
}
.table th:last-child {
  border-top-right-radius: 12px;
}


.table tr:last-child td:first-child {
  border-bottom-left-radius: 12px;
}
.table tr:last-child td:last-child {
  border-bottom-right-radius: 12px;
}

.table thead {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.table tbody {
  display: block;
  max-height: 400px;
  overflow-y: auto;
  width: 100%;
  table-layout: fixed;
}

tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
